<div class="d-flex align-items-center justify-content-center login">

<form >
    <div class="d-flex align-items-center justify-content-center">
      <i class="far fa-smile-beam fa-7x" ></i>
    </div>
    <div class="form-group">

        <label>Nombre de usuario</label>
        <input 
                class="form-control" 
                placeholder="UserName"
        >
        <small id="emailHelp" class="form-text text-muted">Usuario requerido</small>

    </div>

    <div class="form-group">

      <label>contraseña</label>

      <input 
              type="password" 
              class="form-control" 
              placeholder="contraseña" 
      >
      <small id="emailHelp" class="form-text text-muted">Contraseña requerida</small>

    </div>
    
    <button (click)="Login()"
            type="submit" 
            class="btn btn-primary btn-block mt-3"
    >
    Ingresar
    </button>

  </form>

</div>