<div class="container">
  <ul class="list-group text-center">

    <li class="list-group-item list-group-item-dark"
    routerLinkActive="active"
    [routerLink]="['Inbox']">
    Inbox 
    <i class="fas fa-envelope"></i>
    </li>
  
    <li class="list-group-item list-group-item-dark"
    routerLinkActive="active"
    [routerLink]="['Sent']">
    Sent 
    <i class="far fa-envelope"></i>
    </li>

    <li class="list-group-item list-group-item-dark"
    routerLinkActive="active"
    [routerLink]="['Deleted']">
    Deleted 
    <i class="fas fa-trash-alt"></i>
    </li>

    <li class="list-group-item list-group-item-dark"
    routerLinkActive="active"
    [routerLink]="['New']">
    New 
    <i class="far fa-file-alt"></i>
    </li>
    
  </ul>
</div>